<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="Data Source=JOSEVIEIRAS\SQLEXPRESS Catalog=Db_SigCorp;User ID=sa; Password=101418JvSf@;Integrated Security=false;MultipleActiveResultSets=True; Connect Timeout=1000;Encrypt=False;Application Name=SigCorpApp" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>